<!DOCTYPE html>
<html>
<head>
  <title>Gemstest</title>

  <%= stylesheet_link_tag    'homes', media: 'all' %>
  <%= javascript_include_tag 'homes' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/homes/header' %>
    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
<%= yield %>

  <%= render 'layouts/homes/footer' %>

</body>

  
</html>